{% extends 'index.html'%}
{% block content %}
    {% comment %} <div class="alert alert-danger">
    <strong>{{msg}}</strong> 
    </div> {% endcomment %}

   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item">
        <img
          src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dw2b43322f/images/homepage/All_Banners/IBSale_HDFC_D.jpg"
          alt="Image">
        <div class="carousel-caption">
          <!-- <h3>More Sell $</h3>
          <p>Lorem ipsum...</p> -->
        </div>
      </div>
      <div class="item">
        <img
          src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dwc8ea5288/images/homepage/All_Banners/BestSellers_HDFC__D.jpg"
          alt="Image">
        <div class="carousel-caption">
          <!-- <h3>More Sell $</h3>
          <p>Lorem ipsum...</p> -->
        </div>
      </div>
      <div class="item active">
        <img
          src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dw3dab0639/images/homepage/All_Banners/NewArrivals_HDFC_Updated_D.jpg"
          alt="Image">
        <div class="carousel-caption">
          <!-- <h3>Sell $</h3>
          <p>Money Money.</p> -->
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container text-center">
    <h3>Discover Your Style</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <img
          src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dw203d37b3/images/TrendingFinal_Men_D.jpg"
          class="img-responsive" style="width:100%" alt="Image">
        <p>Current Project</p>
      </div>
      <div class="col-sm-4">
        <img
          src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dw53d4c6ee/images/TrendingFinal_Women_D.jpg"
          class="img-responsive" style="width:100%" alt="Image">
        <p>Project 2</p>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Titan Men's Timeless Style Watch: Refined Black Dial and Metal Strap</p>
        </div>
        <div class="well">
          <p>This watch offers 24 months warranty on the Movement and 12 months  </p>
        </div>
      </div>
    </div>
  </div><br>
  
  <!-- -------------------------------cards----------------------------------------------- -->
  <div class="container-fluid bg-3 text-center">
    <h3>THE BEST WAY TO BUY THE PRODUCTS YOU LOVE</h3><br>
    <div class="row">
      <div class="col-sm-3">
        <p>Some text..</p>
        <img
          src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dw3e10e985/images/Titan/Catalog/1713BM02_1.jpg?sw=360&sh=360"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img
          src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dwe1a94e04/images/Titan/Catalog/1849YM01_1.jpg?sw=360&sh=360"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img
          src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dw0814ec34/images/Titan/Catalog/1805QM04_1.jpg?sw=360&sh=360"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img
          src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dwe93d9a16/images/Titan/Catalog/90147SL01_1.jpg?sw=360&sh=360"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>

  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-3">
        <p>Some text..</p>
        <img
          src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dw4a8553d8/images/Titan/Catalog/90206AP03_1.jpg?sw=360&sh=360"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img
          src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dwe93d9a16/images/Titan/Catalog/90147SL01_1.jpg?sw=360&sh=360"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img
          src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dwfefaa8d1/images/Titan/Catalog/1877SL01_1.jpg?sw=360&sh=360"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-3">
        <p>Some text..</p>
        <img
          src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dwe4fec768/images/Titan/Catalog/1849NM02_1.jpg?sw=360&sh=360"
          class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br><br>
  <!-- ---------------------------------small card---------------------------------------------------- -->
  <div class="container text-center">
    <h3>Our Partners</h3>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <img src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dwc8887c27/images/sale_.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 1</p>
      </div>
      <div class="col-sm-2">
        <img src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dw0c68edb6/images/men_.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 2</p>
      </div>
      <div class="col-sm-2">
        <img src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dwb8df3006/images/women.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 3</p>
      </div>
      <div class="col-sm-2">
        <img src="https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dwff30f749/images/ragaB.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 4</p>
      </div>
      <div class="col-sm-2">
        <img src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dw5188cbbe/images/luxe.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 5</p>
      </div>
      <div class="col-sm-2">
        <img src=" https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Library-Sites-TitanSharedLibrary/default/dw07037e98/images/couple.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Partner 6</p>
      </div>
    </div>
  </div><br>
{% endblock  %}