{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="card" style="width: 18rem;"></div>
<img src="https://images.unsplash.com/photo-1556379092-dca659792591?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D"
    class="card-img-top" alt="..." width="10%" height="380px">
<div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
{% endblock %}