<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

    <div class="alert alert-success">
        <strong>{{msg}}</strong> 
    </div>
   <center>
    <h1>------------------ Welcome --------------------</h1>
    <a href="{% url 'register' %}"><button>Registration</button></a>
    <hr>
    <a href="{% url 'login' %}"><button>Login</button></a>
   </center>
   <hr>

   <a href="{% url 'first' %}"><button>First</button></a>
   <a href="{% url 'last' %}"><button>Last</button></a>
   <a href="{% url 'latest' %}"><button>Latest</button></a>
   <a href="{% url 'earliest' %}"><button>Earliest</button></a>
   <a href="{% url 'all' %}"><button>All Data</button></a>
   <a href="{% url 'myfilter' %}"><button>Filter</button></a>
   <a href="{% url 'myexclude' %}"><button>Exclude</button></a>
   <a href="{% url 'myassending' %}"><button>Assending</button></a>
   <a href="{% url 'mydissending' %}"><button>Dissending</button></a>
   <a href="{% url 'myrendom' %}"><button>Rendom</button></a>
   <a href="{% url 'myslice' %}"><button>Slice</button></a>
   <a href="{% url 'myreverse' %}"><button>Reverse</button></a>
</body>
</html>